{% extends "layout.html" %}
{%block scripting %} <script src="static/scripts/index.js"></script>{% endblock%}


{% block title %}Home{% endblock %}

{% block heading %}WELCOME!{% endblock %}

{% block body %}
<p id="blurb">
This is a site dedicated to a collection of books! Click on "COLLECTION" to view all
available books, "UPLOAD" to upload a new book to the collection, or "DELETE" to remove
a book from the collection. Please note that only registered and logged in users will be able
to upload or delete.
</p>
{% endblock %}

{% block business %}
<div id="user_form">
    <label for="login" id="sticker">User Login</label>
    <form id="login" name="login">
        <label for="username">Username<span class="error">*</span></label>
        <input type="text" id="username" name="username" placeholder="Enter username here">
        <label for="password">Password<span class="error">*</span></label>
        <input type="text" id="password" name="password" placeholder="Enter password here">
        <button type="button" id="login_button">Submit</button>
    </form>
</div>

{% endblock %}


