{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block heading %}WELCOME!{% endblock %}

{% block body %}
This is a site dedicated to a collection of books! Click on "COLLECTION" to view all
available books, "UPLOAD" to upload a new book to the collection, or "DELETE" to remove
a book from the collection. Please note that only registered and logged in users will be able
to upload or delete.
{% endblock %}

{% block business %}
    <label for="login" id="sticker">User Login</label>
    <form id="login" name="login">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="password">Password</label>
        <input type="text" id="password" name="password">
        <button type="button">Submit</button>
    </form>
{% endblock %}


